.coroutines-text {
    border: 1px solid black;
    margin: 10px;
    width: 2em;
    text-align: center;
}

.increment-1 {
    background-color: #33eeee;
}

.increment-2 {
    background-color: #ee33ee;
}

.increment-3 {
    background-color: #eeee33;
}

.increment-4 {
    background-color: #3333ee;
}

.increment-5 {
    background-color: #ee3333;
}

.increment-6 {
    background-color: #33ee33;
}

#disassembly-output {
    overflow: auto;
    height: 18em;
    resize: vertical;
}

#game-output {
    overflow: auto;
    height: 27em;
    resize: vertical;
    white-space: pre-wrap;
}

#shipscan-state {
    overflow: auto;
    height: 26em;
    resize: vertical;
}

